<template>
  <div>
    <v-container>
      <v-row>
        <v-col>
          <v-btn
              light
              icon
              @click="$router.go(-1)"
          >
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>

    <v-container v-if="!myLocation || !myLocation.discovered">
      <v-row>
        <v-col>
          <h2>Invalide</h2>
          <p>Vous n'avez pas découvert cet arrêt</p>
        </v-col>
      </v-row>
    </v-container>

    <v-container v-else>



      <v-row class="color">
        <v-col>


        <v-card>
          <v-img
              :src="myLocation.img"
              class="white--text align-end"
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              height="100px"
          >
            <v-card-actions>
              <div>
                <v-card-title align="end" v-text="myLocation.name"></v-card-title>
                <v-card-subtitle>Ligne {{ myLocation.track }}</v-card-subtitle>
              </div>

              <v-spacer></v-spacer>

              <v-btn icon dark>
                <v-icon
                    @click="fav"
                >{{ myLocation.favorite ? "mdi-star" : "mdi-star-outline" }}</v-icon>
              </v-btn>

            </v-card-actions>
          </v-img>
        </v-card>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <div class="content" v-html="myLocation.content">
          </div>
        </v-col>
      </v-row>

    </v-container>
  </div>

</template>

<script>
import slugify from '@/slugify'
import storage from '@/storage'

export default {
  name: "Content",
  props: ["slug"],

  computed: {
    myLocation() {
      return this.$root.$data.locations.find(loc => slugify(loc.name) === this.slug)
    }
  },

  methods: {
    fav() {
       this.myLocation.favorite = !this.myLocation.favorite
    }
  },

  created() {
    this.$root.$data.locations = storage.load(this.$root.$data.locations)
  }
}
</script>

<style lang="sass">
.content
  img
    width: 100% !important
    height: auto
    border-radius: 4px
</style>