<template>
  <v-container fluid>

    <v-row>
      <v-col cols="12">
        <h1 class="text-h4">Discov'Angou</h1>
      </v-col>

      <v-col cols="12">
        <p>
          Tu t'ennuies à l'arrêt de bus ? Trouve les QR codes cachés dans chaque arrêt et débloque un contenu
        </p>
      </v-col>

      <v-col cols="12">
        <v-img
            src="https://picsum.photos/300/300"
            max-height="256px"
            max-width="100vw"
        >
        </v-img>

        <h2 class="mt-6">Comment ça marche ?</h2>
        <p>Scannez les QR codes disséminés dans les arrêts de bus de la ville d'Angoulême et débloquez du contenu intéressant pendant que vous attendez votre bus. Une fois le contenu débloquer, vous pouvez le consulter quand vous voulez sur votre téléphone.</p>
        <v-alert type="warning" class="mt-6">
          Les données ne peuvent pas être enregistrées si vous utilisez le mode navigation privée. Si vous supprimez les données de navigation, les contenus débloqués seront supprimés.
        </v-alert>
      </v-col>
    </v-row>

  </v-container>
</template>

<script>
  export default {
    name: 'Home',

    components: {
    },
  }
</script>
