<template>
  <v-container fluid>

    <v-row class="pt-4">
      <v-col col="12">
        <h2
            class="text-h5 py-0"
            v-if="title || track"
        >
          {{ title || "Ligne " + track }}</h2>
      </v-col>
    </v-row>

    <v-row class="py-4" v-if="track">
      <v-col col="12" >
        <v-progress-linear
            color="primary"
            :value="progress.percent"
            height="25"
            dark
            rounded
        >
          {{ progress.current + "/" + progress.max }}
        </v-progress-linear>
      </v-col>
    </v-row>

    <v-row dense>

      <v-col v-if="!locationsList || !locationsList.length">
        <v-alert type="info" color="grey">
          {{ errorMessage || "Pas d'arrêt disponible" }}
        </v-alert>
      </v-col>


      <v-col
          v-for="loc in locationsList"
          :key="loc.name"
      >


        <v-card>
          <v-img
              :src="loc.img"
              class="white--text align-end"
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              height="200px"
              :class="{grayscale : !loc.discovered}"
          >
            <v-card-title align="end" v-text="loc.name"></v-card-title>
          </v-img>

          <v-card-actions>

            <v-spacer></v-spacer>

            <v-btn
                v-if="loc.discovered"
                color="primary"
                text
                :to="'/arret/'+require('@/slugify')(loc.name)"
            >
              Lire
            </v-btn>

            <v-btn icon v-else>
              <v-icon>mdi-lock</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>

      </v-col>

    </v-row>
  </v-container>
</template>

<script>

export default {
  name: "Locations",
  props: [ "title", "track", "discovered", "favorite", "errorMessage" ],

  computed: {
    locationsList() {
      const d = this.$root.$data;

      if (this.track) return d.locations.filter(loc => loc.track === this.track).sort(loc => loc.discovered)

      if (this.discovered) return d.locations.filter(loc => loc.discovered)

      if (this.favorite) return d.locations.filter(loc => loc.favorite)

      return null
    },

    progress() {
      const current = this.locationsList.filter(loc => loc.discovered).length
      const max = this.locationsList.length;
      return {
        percent: (current/max) * 100,
        current: current,
        max: max
      }
    },


  }
}
</script>

<style scoped lang="sass">
.grayscale
  filter: grayscale(100%)
</style>