<template>
  <div>

    <v-container v-if="!location">
      <v-row>
        <v-col>
          <v-alert type="error">
            Une erreur s'est produite
          </v-alert>
        </v-col>
      </v-row>
    </v-container>

    <v-container fluid v-else>
      <v-row>
        <v-col>
          <h2>Nouveau contenu débloqué</h2>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <v-card>
            <v-img
                :src="location.img"
                class="white--text align-end"
                gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                height="200px"
            >
              <v-card-title align="end" v-text="location.name"></v-card-title>
            </v-img>

            <v-card-actions>

              <v-spacer></v-spacer>

              <v-btn
                  color="primary"
                  text
                  :to="'/arret/'+require('@/slugify')(location.name || '')"
              >
                Lire
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

  </div>
</template>

<script>
import storage from '@/storage'

export default {
  name: "Unlock",
  props: ["hash"],

  computed: {
    location() {
      let result = this.$root.$data.locations.filter(loc => loc.hash === this.hash)[0]
      if (result) {
        result.discovered = true;
        storage.save(this.$root.$data.locations);
        this.$root.$data.locations = storage.load(this.$root.$data.locations);
      }
      return result
    }
  }
}
</script>

<style scoped>

</style>