<template>
  <header>
    <v-app-bar
        color="primary"
        dark
        app
        class="sticky"
        hide-on-scroll
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>Discov'Angou</v-toolbar-title>

    </v-app-bar>


    <v-navigation-drawer
        v-model="drawer"
        absolute
        temporary
    >

      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="text-h6">
            Discov'Angou
          </v-list-item-title>
          <v-list-item-subtitle>
            Trouve les QR codes cachés
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list
          nav
          dense
      >
        <v-list-item-group
            v-model="group"
            active-class="deep-purple--text text--accent-4"
        >

          <v-list-item
              v-for="route in $router.getRoutes()"
              v-if="!route.meta.hidden"
              :key="route.name"
              @click="$router.push(route.path)"
          >
            <v-list-item-icon
                v-if="route.meta.icon"
            >
              <v-icon>{{ route.meta.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-title>{{ route.name }}</v-list-item-title>
          </v-list-item>

        </v-list-item-group>

        <v-divider></v-divider>

        <v-list-item-group>

          <v-list-item>
            <v-list-item-title>Lignes</v-list-item-title>
          </v-list-item>

          <v-list-item-group sub-group>

            <v-list-item
                v-for="track in tracks"
                v-if="trackData(track)"
                :key="track"
                :to="'/ligne/' + track"
            >
              <v-list-item-icon class="mx-0">
                <v-icon v-if="trackData(track).icon">{{ trackData(track).icon }}</v-icon>
              </v-list-item-icon>
              <v-list-item-title>
                &emsp;&emsp;{{ trackData(track).name }}
              </v-list-item-title>

            </v-list-item>

          </v-list-item-group>

        </v-list-item-group>

      </v-list>
    </v-navigation-drawer>
  </header>
</template>

<script>
import storage from '@/storage'
import tracks from '@/tracks'

export default {
  name: "Nav",

  data: () => ({
    drawer: false,
    group: null,
  }),

  computed: {
    tracks() {
      return this.$root.$data.locations
             .map(loc => loc.track)
             .sort()
             .filter((item, pos, arr) => !pos || item != arr[pos - 1])
    }
  },

  methods: {
    trackData(id) {
      return tracks[id]
    }
  },

  watch: {
    group () {
      this.drawer = false
    },
  },
}
</script>

<style scoped lang="sass">
</style>