<template>
  <v-app>
    <Nav></Nav>
    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>
import storage from '@/storage'
import Nav from "@/components/Nav";

export default {
  name: 'App',
  components: {Nav},
  data: () => ({
    //
  }),

  created() {
    this.$root.$data.locations = storage.load(this.$root.$data.locations);
  }
};
</script>
